/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* добавлено значение для тени */
  background-color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

/* Custom scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

/* Margin adjustment for larger screens */
@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

/* Sidebar toggle for smaller screens */
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav i {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #106D76;
  transition: 0.3s;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #106D76;
}

.sidebar-nav .nav-link.collapsed {
  color: #106D76;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #106D76;
  background: #f6f9ff;
  /* Перенесен background внутрь */
}

.sidebar-nav .nav-link:hover i {
  color: #106D76;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 9px 0;
  /* Предполагается, что это margin */
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #106D76;
  transition: 0.3s;
  /* Убрана дублирующая строка transition */
  padding: 10px 0 10px 40px;
}

.sidebar-nav .nav-content i {
  font-size: 16px;
  /* Исправлен с 6px на 16px для более правильного отображения */
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #106D76;
}

.sidebar-nav .nav-content a.active {
  background-color: #106D76;
}